.form-search {
  position: absolute;
  z-index: 10;

  display: flex;
  width: 20px;
  min-height: 31px;
  margin: 0;

  background-color: $dark-bg-color;

  &:hover,
  &:focus {
    width: 310px;
    padding: 2px 13px;

    border: 1px solid $text-color;
    border-radius: 100px;
    transition: width .5s;

    .form-search__input {
      display: block;
    }
  }
}

.form-search--category {
  position: static;

  width: 350px;
  height: 31px;
  padding: 2px 13px;
  margin-bottom: 0;

  border: 1px solid $text-color;
  border-radius: 100px;

  &:hover,
  &:focus {
    width: 350px;

    border: 1px solid $accent-color;
    transition: none;
  }

  .form-search__input {
    display: flex;
  }
}

.form-search__input {
  display: none;
  margin: 0;
  width: 100%;
  padding: 5px 10px;

  font-size: 14px;
  font-family: inherit;
  font-weight: 400;

  color: $text-color;
  background-color: transparent;
  border: none;

  &::placeholder {
    color: $text-color;
    opacity: 1;
  }
}

.form-search__button {
  margin: 0;
  padding: 0;
  width: 22px;

  background: transparent url("../img/icons/icon-search.svg") no-repeat 0 center;
  border: 0;
}
