.games {
  @include wrapper;

  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  // justify-content: space-between;
  align-items: center;

  padding-top: 42px;
  padding-bottom: 45px;
}

.games + .games {
  padding-top: 0;
}

.games__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.games__view-all {
  position: relative;
  padding-right: 22px;

  font-weight: 500;
  font-size: 18px;
  line-height: 21px;

  color: #87E389;

  &::after {
    content: "";

    position: absolute;
    top: 4px;
    right: 0;

    width: 8px;
    height: 13px;

    background: url("../img/icons/icon-arrow-right-green.svg") no-repeat center center;
  }

  &:hover,
  &:focus {
    text-decoration: underline;
  }
}

.games__wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-top: 29px;
}

.games__list {
  @include reset-list;

  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  justify-content: space-between;
  width: 67%;
}

.games__item {
  position: relative;
  display: flex;
  width: 24.4%;

  overflow: hidden;

  img {
    display: block;

    // width: 230px;
    height: auto;
    border-radius: 20px;
    object-fit: cover;
  }

  &:hover,
  &:focus {
    img {
      opacity: 0.7;
    }

    .games__button {
      display: block;
    }
  }
}

.games__button {
  position: absolute;

  display: none;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  padding: 12px 30px;

  font-weight: 500;
  font-size: 16px;
  line-height: 17px;
  white-space: nowrap;

  color: $black-color;
  background: $accent-color;
  box-shadow: 0 4px 4px transparentize($black-color, 0.55);
  border: none;
  border-radius: 100px;
}

.games__item--big {
  width: 32.5%;
  // height: 360px;

  border-width: 5px;
  border-style: solid;
  border-radius: 20px;

  img {
    width: 100%;
    height: 100%;
  }

  .games__button {
    display: block;
  }
}

.games--new {
  .games__item--big {
    box-shadow: 0 0 14px $new-games-color;
    border-color: $new-games-color;
  }
}

.games--popular {
  .games__item--big {
    box-shadow: 0 0 14px $recommends-games-color;
    border-color: $popular-games-color;
  }
}

.games--recommends {
  .games__item--big {
    box-shadow: 0 0 14px $recommends-games-color;
    border-color: $recommends-games-color;
  }
}

@media (max-width: $mobile-width-only) {
  .games {
    padding-left: 15px;
    padding-right: 15px;
  }

  .games__view-all {
    font-size: 15px;
    line-height: 19px;

    &::after {
      top: 4px;
      right: 5px;

      width: 8px;
      height: 10px;
    }
  }

  .games__info {
    max-width: 510px;
  }

  .games__wrapper {
    flex-direction: column;
    align-self: center;

    padding-top: 15px;
    max-width: 510px;
  }

  .games__list {
    width: auto;
  }

  .games__item:not(.games__item--big):nth-last-child(n+5) {
    display: none;
  }

  .games__item {
    position: relative;
    width: 49%;
    margin-bottom: 5px;
  }

  .games__item--big {
    width: 100%;
  }
}
