.header {
  z-index: 5;
  background-color: $dark-bg-color;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.header__wrapper {
  @include wrapper;

  position: relative;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 0;
}

.header__form {
  left: 63px;
}

.header__nav {
  padding-left: 64px;
}
