.indicators {
  position: relative;
  top: 15px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 399px;
  width: 24%;
  padding: 45px;

  background: $light-bg-color;
  box-shadow: inset 0 0 24px transparentize($black-color, 0.65);
}

.indicators__item {
  position: relative;

  padding: 20px;
  padding-left: 100px;
  border-bottom: 1px solid #282F4B;

  &:last-child {
    border-bottom: none;
  }

  &::before {
    content: "";

    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);

    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: cover;
  }

  &--players::before {
    width: 76px;
    height: 76px;

    background-image: url("../img/icons/icon-cards.svg");
  }

  &--providers::before {
    width: 72px;
    height: 72px;

    background-image: url("../img/icons/icon-flag.svg");
  }

  &--games::before {
    width: 80px;
    height: 78px;

    background-image: url("../img/icons/icon-dices.svg");
  }
}

.indicators__number {
  font-size: 46px;
  line-height: 46px;
  font-weight: bold;

  color: $accent-color;
}

.indicators__description {
  margin: 0;
}

@media (max-width: 1240px) {
  .indicators {
    padding: 25px 20px;
    justify-content: center;
  }

  .indicators__item {
    padding: 25px 10px;
    padding-left: 90px;

    &--players::before {
      width: 56px;
      height: 56px;
    }

    &--providers::before {
      width: 52px;
      height: 52px;
    }

    &--games::before {
      width: 60px;
      height: 58px;
    }
  }
}

@media (max-width: 1120px) {
  .indicators {
    padding: 15px;
    justify-content: center;
  }

  .indicators__item {
    padding-left: 72px;
  }
}

@media (max-width: $tablet-width-only) {
  .indicators {
    position: static;

    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: auto;
    margin-bottom: 15px;
  }

  .indicators__item {
    width: 33%;
    padding: 20px;
    padding-left: 120px;
    border-bottom: none;
    border-right: 1px solid #282F4B;

    &:last-child {
      border-right: none;
    }

    &::before {
      left: 40px;
    }
  }
}

@media (max-width: $mobile-width-only) {
  .indicators {
    flex-direction: column;
    align-items: center;
  }

  .indicators__item {
    width: 100%;
    max-width: 300px;
    padding: 20px 40px;
    padding-left: 130px;
    border-right: none;
    border-bottom: 1px solid #282F4B;

    &:last-child {
      border-bottom: none;
    }

    &::before {
      left: 40px;
    }
  }
}
