.providers {
  @include wrapper;

  padding: 16px 0 10px;
}

.providers__list {
  @include reset-list;

  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 0 16px;
}

.providers__item {
  margin-right: 20px;
  margin-bottom: 6px;

  &:last-child {
    margin-right: 0;
  }
}

.providers__link {
  padding: 5px 12px;

  font-weight: normal;
  font-size: 13px;
  line-height: 15px;

  color: $text-secondary-color;
  border-color:#282F4B;
  border-radius: 50px;

  &--active {
    color: $text-color;
    border: 1px solid #D73649;
  }

  &:hover,
  &:focus {
    border-color: $accent-color;
    box-shadow: none;
  }
}

@media (max-width: $tablet-width-only) {
  .providers__list {
    padding-left: 0;
    padding-right: 0;
  }
}

@media (max-width: $mobile-width-only) {
  .providers {
    padding: 16px 15px;
  }

  .providers__item:nth-child(n+6) {
    display: none;
  }

  .providers__item {
    margin-right: 5px;
  }
}
