//Сетки
$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1024px;

$mobile-width-only: 767px;
$tablet-width-only: 1023px;

//Ретина
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

//colors
$dark-bg-color: #121423;
$light-bg-color: #20263e;
$black-color: #000000;
$text-color: #ffffff;
$text-secondary-color: #8c91ba;
$table-color: #182237;
$accent-color: #87e389;
$new-games-color: #8beb01;
$popular-games-color: #50ffe0;
$recommends-games-color: #4f00f7;
$partners-color: #32448c;
$link-color: #00ffd1;


//Шрифты
$default-font: "Roboto", "Aria", sans-serif;
