//Сетки
$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1200px;

//Ретина
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

//colors
$dark-bg-color: #121423;
$text-color: #ffffff;

$accent-color: #87e389;


//Шрифты
$default-font: "Roboto Condensed", "Aria", sans-serif;
